.App {
  background-color: #0d0a0a;
  color: white;
  font-family: FuturaBT-Book;
  flex-wrap: nowrap;
  padding: 5%;
}
.form-control {
  width: 25%;
}
.poster {
  position: relative;
}
img {
  width: auto;
  border-radius: 2px;
  transition: transform 0.2s;
}
img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.poster:hover .overlay {
  opacity: 1;
}
.overlay {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
