.App {
  background-color: #0d0a0a;
  color: white;
  font-family: FuturaBT-Book;
  flex-wrap: nowrap;
  padding: 5%;
}
.form-control {
  width: 25%;
}
img {
  margin: 50px 10px;
  height: 250px;
  width: auto;
  border-radius: 2px;
  transition: transform 0.2s;
}
img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
